tr.transition {
  background-color:rgb(24, 118, 209, 0.6) !important;
}

div.normal {
  height: 0;
  overflow: hidden;
  transition: height 0.5s;
  display: flex;
  align-items: center;
  flex-direction: row;
}

div.transition {
  height: 55px;
  overflow: hidden;
  transition: height 0.5s;
  display: flex;
  align-items: center;
  flex-direction: row;
}
